{% extends 'diaryBase.html' %}

{% block style %}

<style>
    #cover_box {
        position: absolute;
        left: 340px;
        top: 620px;
        width: 570px;
        height: 60px;
        border: 2px solid rgb(240,240,240);
        background-color: rgb(240,240,240);
    }

    #guestbook_textarea {
        position: absolute;
        left: 350px;
        top: 630px;
        width:  480px;
        height: 40px;  
    }

    #guestbook_submit {
        border: none;
        color: white;
        padding: 12px 13px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;    

        background-color: white;
        color: black;
        border: 2px solid black;

        position: absolute;
        left: 850px;
        top: 630px;
    }

    #outer {
        position: absolute;
        left: 340px;
        top: 200px;
        width: 570px;
        height: 400px;
        border: 2px solid rgb(240,240,240);
        overflow: auto;
    }

    #write {
        position: absolute;
        left: 0px;
        width: 570px;
        /* border: 2px solid black; */
    }
    .name_td {
        padding-left: 60px;
        float: left;
        font-size: 15px;
        /* width: 570px; */
        
    }

    .silver_background {
        background-color: rgb(240,240,240);
        margin: 0;
        padding: 0;
    }

    .img_td {
        padding-left: 15px;
        float: left; 
        width: 30%;
    }
    .content_td {
        
        display: table-cell;
        vertical-align: middle;
    }
</style>

<script>

    
</script>
{% endblock %}

{% block content %}
<div id="outer">
    <table id="write">
    <tbody>
    {% for i in guestbook %}
    
        <tr class="silver_background">
            <td class="name_td" colspan="2">{{i.User.nick}} <span style="font-size: 10px">{{i.createdAt}}</span></td>
            <!-- <td style="font-size: 10px;">{{i.createdAt}}</td> -->
        </tr>
        <tr style="display: table;">
            <td class="img_td"><img src="{{i.User.image}}" style="width: 170px; height: 150px; padding-right: 30px;"></td>
            <td class="content_td">{{i.content}}</td>
        </tr>
        <tr style="height: 20px;"><td></td></tr>
        
    {% endfor %}
    </tbody>
    </table>
</div>


    <img src="{{user.image}}" class="profile_picture"></button>

    <div class="profile_introduce">{{user.message}}</div>

    <hr style="position: absolute; 
    border: none; 
    height: 2px; 
    width: 200px; 
    left: 70px; 
    top: 550px; 
    color: rgb(227, 227, 227); 
    background-color:  rgb(227, 227, 227);">
<div class="name_letter">{{user.nick}}</div>

<form id="guestbook_form" method="post" action="/diary/{{user.email}}/guestbookCreate">
    <div id="cover_box"></div>
    <textarea id="guestbook_textarea" name="content"></textarea>
    <button id="guestbook_submit" type="submit">확인</button>
</form>
{% endblock %}