<link rel="stylesheet" href="/diary_home.css">

<div class="lately_post">최근 게시물</div>
<hr style="position: absolute; 
    border: none; 
    height: 2px; 
    width: 240px; 
    left: 300px; 
    top: 220px; 
    color: rgb(227, 227, 227); 
    background-color:  rgb(227, 227, 227);">

<hr style="position: absolute; 
    border: none; 
    height: 1px; 
    width: 240px; 
    left: 545px; 
    top: 220px;
    border-top:2px dotted rgb(227, 227, 227);">

<hr style="position: absolute; 
    border: none; 
    height: 1px; 
    width: 240px; 
    left: 545px; 
    top: 250px;
    border-top:2px dotted rgb(227, 227, 227);">

<hr style="position: absolute; 
    border: none; 
    height: 1px; 
    width: 240px; 
    left: 545px; 
    top: 280px;
    border-top:2px dotted rgb(227, 227, 227);">

<hr style="position: absolute; 
    border: none; 
    height: 1px; 
    width: 240px; 
    left: 545px; 
    top: 310px;
    border-top:2px dotted rgb(227, 227, 227);">

<div id="diary_letter">다이어리</div>
<div id="picture_letter">사진첩</div>
<div id="music_letter">음악보관함</div>
<div id="guestbook_letter">방명록</div>

<div id="miniroom_letter">미니룸</div>
<div id="miniroom"></div>


