<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/diary_basic.css">    
    <title>diaryBase</title>
</head>
<body>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <div class="wrapper">
        <div><img class="diaryBase" src="/images/diaryBase.png" alt="기본다이어리배경"></div>
        <img src="/images/side.png" class="musicBlock"></img>

        
    
        

        <form action="/diary/{{user.email}}" method="get">
            <button class="menu_button bu_home">홈</button>
        </form>

        <form action="/diary/{{user.email}}/guestbook" method="get">
           <button class="menu_button bu_guestbook">방명록</button>
        </form>

        <form action="/diary/{{user.email}}/photoAlbum" method="get">
            <button class="menu_button bu_images">사진첩</button>
        </form> 

        <form action="/diary/{{user.email}}/diary" method="get">
            <button class="menu_button bu_diary">다이어리</button>
        </form>

        
        {% block content %}
        {% endblock %}
        
    </div>

    <script>
        
        

        

        // $(document).on('click', '.changeButton', check === true, () => {
            
        // });


        // $(document).on('click', '.changeButton', check === false, () => {
        //     $.ajax({
        //         url: '/views/diaryBase.html',
        //         type: 'GET',
        //         dataType: 'html',
        //         success: (data) => {
        //             var e = $(data).find('.profile');
        //             $('.profile').html(e);
        //         },
        //         error: (err) => {
        //             alert(err)
        //         },
        //     });
        // });
    </script>
    {% block style %}
    {% endblock %}
    
</body>
</html>