<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/diary_basic.css">    
    <title>diaryBase</title>
</head>
<body>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <div class="wrapper">
        <div><img class="diaryBase" src="/images/diaryBase.png" alt="기본다이어리배경"></div>
        <div class="musicBlock">1</div>
        <button class="changeButton" onclick="changeMode()">수정</button>
        <!-- <form class="change_img_form" action="/diary/upload" method="post">
            {% if user.image %}
                <input type="file" src="{{user.image}}" class="profile_picture"></button>
            {% else %}
                <input type="file" src="/images/basicMan.png" class="profile_picture"></button>
            {% endif %} 
        </form>
        <div class="profile_introduce">{{user.message}}</div> -->
        
        <div class="profile">
            {% if user.image %}
            <img src={{user.image}} class="profile_picture">
            {% else %}
            <img src='/images/basicMan.png' class="profile_picture">
            {% endif %}
            <p class="profile_introduce">{{user.message}}</p></div>
        <hr style="position: absolute; 
            border: none; 
            height: 2px; 
            width: 200px; 
            left: 70px; 
            top: 550px; 
            color: rgb(227, 227, 227); 
            background-color:  rgb(227, 227, 227);">
        <div class="name_letter">{{user.nick}}</div>

        <button class="menu_button bu_home">홈</button>
        <button class="menu_button bu_guestbook">방명록</button>
        <button class="menu_button bu_images">사진첩</button>
        <button class="menu_button bu_diary">다이어리</button>
        <div class="content" ></div>
    </div>

    <script>
        $(document).ready(function(){
            $(".content").load("/views/diary_home.html");
            
        });
        // $(document).ready(function(){
        //     $(".profile").load("/views/change_profile.html");
        // });
        var check = false;
        
        function changeMode() {
            if(check === true){
                check = false;
                location.reload();
            }
            else if(check === false){
                check = true;
                $.ajax({
                url: '/views/change_profile.html',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    $('.profile').html(data)
                },
                error: (err) => {
                    alert(err)
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}
            });
            }
            alert(check);
        }

        // $(document).on('click', '.changeButton', check === true, () => {
            
        // });

        // $(document).on('click', '.changeButton', check === false, () => {
        //    document.write(<p><a href="/diary">Redirect</a></p>);
        // });


        // $(document).on('click', '.changeButton', check === false, () => {
        //     $.ajax({
        //         url: '/views/diaryBase.html',
        //         type: 'GET',
        //         dataType: 'html',
        //         success: (data) => {
        //             var e = $(data).find('.profile');
        //             $('.profile').html(e);
        //         },
        //         error: (err) => {
        //             alert(err)
        //         },
        //     });
        // });
        // $('.changeButton').click(check == false, () => {
        //     $('.profile').load(location.href + '.profile');
        //     console.log(check);
        // });

        

        $(document).on('click', '.bu_home', () => {
            $.ajax({
                url: '/views/diary_home.html',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    $('.content').html(data)
                },
                error: (err) => {
                    alert(err)
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}
            });
        });

        $(document).on('click', '.bu_guestbook', () => {
            $.ajax({
                url: '/views/diary_guestbook.html',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    $('.content').html(data)
                },
                error: (err) => {
                    alert(err);
                },
            });
        });

        $(document).on('click', '.bu_images', () => {
            $.ajax({
                url: '/views/diary_images.html',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    $('.content').html(data)
                },
                error: (err) => {
                    alert(err);
                },
            });
        });
           
        $(document).on('click', '.bu_diary', () => {
            $.ajax({
                url: '/views/diary_diary.html',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    $('.content').html(data)
                },
                error: (err) => {
                    alert(err);
                },
            });
        });

        
    </script>
    
</body>
</html>