<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cyworld</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">     
</head>
     <body>  

        <img id="cyworldLogo" src="/images/logo.jpg" alt="싸이월드 로고" width="200" height="200" title="싸이월드 로고">

        <div class="profile">
        

        <form id="login-form" action="/auth/login" method="post">
          
          <div class="input-group">
              
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">회원가입</a>
          <button id="login" type="submit" class="btn">로그인</button>

          
        </form>

      </div>

     </body>
</html>