<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cyworld</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">     
    <link rel="shortcut icon" href="/images/favi.ico">


</head>
     <body> 

      <div class = "whole">

        <img id="cyworldLogo" src="/images/logo.jpg" alt="싸이월드 로고" width="260" height="180" title="싸이월드 로고"
        >
        <img id="b" src="/images/main-a.png" alt="메인 화면" width="800" height="400" title="메인 화면"
        >
        <img id="c" src="/images/main-b.png" alt="메인 화면" width="800" height="150" title="메인 화면"
        >

        <img id="d" src="/images/main-c.png" alt="메인 화면" width="350" height="750" title="메인 화면"
        >

        <div id="main-letter">
        <h4>당신의 소중한 일상, 싸이월드</h4>
        </div>

        


        <div class="profile">
          <div class="search">
            <input id="input-search" type="text" placeholder="검색어 입력">
            <button id="button-search" type="submit" class="s-btn">검색</button>
        </div>

        <button id="input-homepage" type="submit" class="h-btn">미니홈피</button>
        <button id="input-homepage" type="submit" class="h-btn">블로그</button>
        <button id="input-homepage" type="submit" class="h-btn">클럽</button>
        <button id="input-homepage" type="submit" class="h-btn">뮤직</button>

        <!-- 로그인 시 바뀐 화면 -->
        <form id="login-complete-form">          
 
          <div class="user-name">{{ '어서오세요, ' + user.nick + '님' }}</div>
          <div class="user-email">{{ user.email }}</div>

          <a id="mini-homepage" href="/diary" class="btn">미니홈피</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>

        </form>
        </div>


        <!-- 캘린더 -->

        <div class="container">

          <div class="calendar-container">
        
            <header>
              
              <div class="day">16</div>
              <div class="month">September</div>
        
            </header>
        
            <table class="calendar">
              
              <thead>
        
                <tr>
        
                  <td>Mon</td>
                  <td>Tue</td>
                  <td>Wed</td>
                  <td>Thu</td>
                  <td>Fri</td>
                  <td>Sat</td>
                  <td>Sun</td>
        
                </tr>
        
              </thead>
        
              <tbody>
        
                <tr>
                  <td class="prev-month">29</td>
                  <td class="prev-month">30</td>
                  <td class="prev-month">31</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
        
                <tr>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
        
                <tr>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td class="current-day">18</td>
                </tr>
        
                <tr>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                </tr>
        
                <tr>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td>29</td>
                  <td>30</td>
                  <td>31</td>
                  <td class="next-month">1</td>
                </tr>
        
              </tbody>
        
            </table>
        
            <div class="ring-left"></div>
            <div class="ring-right"></div>
        
          </div> <!-- end calendar-container -->
        
        </div> <!-- end container -->

        <h3 id="card-letter-main">오늘 읽을만한 글</h3>

        <hr class="card-line">
        
        
        <!-- 카드 -->
          <article id="card">
              <header class="cardThumb">
                  <a href="#">
                      <img src="/images/binoo.jpg">
                  </a>
              </header>
              <div class="cardDate">
                  <span class="cardDateDay">1</span>
                  <span class="cardDateMonth">Janv</span>
              </div>
              <div class="cardBody">
                  <div class="cardCategory"><a href="#">Photos</a></div>
                  <h2 class="cardTitle"><a href="#">화제의 강아지</a></h2>
                  <div class="cardSubtitle">너무 귀여워서 화제가 된 강아지 입니다.</div>
                  <p class="cardDescription">
                      In ut quam quis magna pulvinar tempor at non elit. Ut lacinia elit vestibulum nulla accumsan, et fringilla mi accumsan. Etiam urna justo, luctus non porta eget, interdum quis tellus.
                  </p>
              </div>
              <footer class="cardFooter">
                  <span class="icon icon--time"></span>33 min
                  <span class="icon icon--comment"></span><a href="#">1 comments</a>
              </footer>
          </article>
      
          <div id="card-a">
          <article id="card">
            <header class="cardThumb">
                <a href="#">
                    <img src="https://unsplash.it/370/235/?random">
                </a>
            </header>
            <div class="cardDate">
                <span class="cardDateDay">1</span>
                <span class="cardDateMonth">Janv</span>
            </div>
            <div class="cardBody">
                <div class="cardCategory"><a href="#">Photos</a></div>
                <h2 class="cardTitle"><a href="#">Lorem Ipsum</a></h2>
                <div class="cardSubtitle">dolor sit amet, consectetur adipiscing elit</div>
                <p class="cardDescription">
                    In ut quam quis magna pulvinar tempor at non elit. Ut lacinia elit vestibulum nulla accumsan, et fringilla mi accumsan. Etiam urna justo, luctus non porta eget, interdum quis tellus.
                </p>
            </div>
            <footer class="cardFooter">
                <span class="icon icon--time"></span>33 min
                <span class="icon icon--comment"></span><a href="#">1 comments</a>
            </footer>
        </article>
      </div>
      
      
      <!-- 장소 -->
      
      <h3 id="shopping-letter">오늘 가볼만한 장소</h3>
      
      <hr class="shopping-line">
      
      <div class="loc-profile">
        <img src="http://via.placeholder.com/400x400" class="image" height="200" width="200"/>
        <h2 class="name"><a href="#">Name</a></h2>
        <h3 class="handle">@name</h3>
        <h4 class="location">📍 Location</h4>
      </div>
      
      <div class="loc-profile-a">
        <img src="http://via.placeholder.com/400x400" class="image" height="200" width="200"/>
        <h2 class="name"><a href="#">Name</a></h2>
        <h3 class="handle">@name</h3>
        <h4 class="location">📍 Location</h4>
      </div>
      
      <div class="loc-profile-b">
        <img src="http://via.placeholder.com/400x400" class="image" height="200" width="200"/>
        <h2 class="name"><a href="#">Name</a></h2>
        <h3 class="handle">@name</h3>
        <h4 class="location">📍 Location</h4>
      </div>
      
      
      
        </div>
      
      </div>
        </div>
      
           </body>
      </html>