html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.lately_post {
    position: absolute;
    left: 330px;
    top: 210px;
    color: rgb(0, 153, 204);
    font-weight: bold;
}

#diary_letter {
    position: absolute;
    left: 632px;
    top: 243px;
    font-size: 14px;
}

#picture_letter {
    position: absolute;
    left: 632px;
    top: 274px;
    font-size: 14px;
}

#music_letter {
    position: absolute;
    left: 632px;
    top: 303px;
    font-size: 14px;
}

#guestbook_letter {
    position: absolute;
    left: 765px;
    top: 243px;
    font-size: 14px;
}

#miniroom_letter {
    position: absolute;
    left: 330px;
    top: 350px;
    color: rgb(0, 153, 204);
    font-weight: bold;
}

#miniroom {
    position: absolute;
    left: 330px;
    top: 373px;
    width: 580px;
    height: 220px;
    border: 2px solid rgb(227, 227, 227);
}