html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    text-align: center;
    position: absolute;
    width: 1200px;
    top: 10px;
    left: 50%;
    padding: 100px 10px 10px 10px;
    margin-left: -620px;
}
.diaryBase { float: left; width: 980px; top:200px;}
.musicBlock { 
    background-color: black;
    color: purple;
    width: 150px;
    height: 200px;
    padding: 20px;
    float: left;
    margin-left: 30px;
 }
 .profile_picture { 
    position: absolute; 
    left: 90px; 
    top: 200px;  
    width: 170px; 
    height: 150px;
    /* background-image: url("/images/basicMan.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none; */
}

.profile_introduce { position: absolute; left: 90px; top: 350px;  width: 170px; word-break: keep-all; font-size: 14px;}

.changeButton {
    position: absolute;
    left: 250px;
    top: 150px;
}

.name_letter {
    position: absolute;
    left: 70px;
    top: 570px;
}

.menu_button {
    position: absolute;
    width: 70px;
    line-height: 40px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    vertical-align: middle;
       
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(22,132,170,1) 0%, rgba(22,152,170,1) 100%);
    border: none;
}

.menu_button:before {
    height: 0%;
    width: 2px;
}

.menu_button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.bu_home {
    position: absolute;
    left: 942px;
    top: 210px;
}

.bu_guestbook {
    position: absolute;
    left: 942px;
    top: 260px;
}

.bu_images {
    position: absolute;
    left: 942px;
    top: 310px;
}

.bu_diary {
    position: absolute;
    left: 942px;
    top: 360px;
}
