<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폴더생성</title>
</head>
<body>
    <div style="font-size: 13px;">폴더이름 : </div>
    

    <form action="/diary/{{user.email}}/createFolder" method="post">
        <textarea style="width: 150px; height: 20px;" name="folder_text"></textarea>
        <input type="submit" value="확인" class="folder_bu createFolder">
    </form>


    
    

    

<style>

</style>

<script>
    
</script>
    
</body>
</html>